---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About">
    <h2>Welcome to the about Page!</h2>

	<p>Welcome to the about page! Add your content here.</p>
    <p> test </p> 
    <p>my thought was to use html for this page and have it be an astro file 
    </p>
    <p>testing </p>
    
</MainLayout>